html {
  line-height: 1;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  font-family: var(--font-sans);
}

::selection {
  background: rgb(var(--selection-bg));
  color: rgb(var(--selection-fg));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
